{%include 'navbar.html'%}
<h1>Products</h1>
<hr>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {%for i in pl%}
        <div class="col">
          <div class="card shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <div class="card-body">
              <img src="{{i.Img}}" alt="Image not available" width="100%" height="300px">
              <p class="card-text" style="font-size: larger; font-weight: bold;">{{i.p_name}}</p>
              <p class="card-text" style="font-size: larger; font-weight: bold;">₹ {{i.p_price}}</p>
              <p class="card-text">{{i.p_description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="addtocart/{{i.id}}"><button type="button" class="btn btn-outline-dark">Add To Cart</button></a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
<hr>