{%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<div class="side">
    {%if user.is_authenticated%}
    <h2><a href="{%url 'income:addinc'%}">Add Income</a></h2>
    <h2><a href="{%url 'expense:addexp'%}">Add Expense</a></h2>
    <h2><a href="{%url 'income:inclist'%}">Income List</a></h2>
    <h2><a href="{%url 'expense:explist'%}">Expense List</a></h2>
    <h2><a href="{%url 'account:logout'%}">Logout</a></h2> 
    <h2><a href="">Edit profile</a></h2>
    {%else%}
    <h2><a href="{%url 'account:reg'%}">Registration</a></h2>
    <h2><a href="{%url 'account:login'%}">Login</a></h2>
    {%endif%}
    
    <h2><a href="/">Home</a></h2> 
    <h2><a href="">About Us</a></h2>
</div>


<div class="main">
    {%block body%}
    {%endblock%}
</div>